* {
    padding: 0;
    margin: 0;
    list-style: none;
}
#main {
    width: 100%;
    min-width: 1100px;
    text-align: center;
    overflow: hidden;
}
#first {
    height: 420px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}
.top-nav {
    float: left;
    margin-left: 300px;
    font-family: "黑体";
    width: 90px;
}
.top-nav span {
    display: block;
}
.cli {
    padding-top: 20px;
    font-size: 20px;
}
#word {
    font-size: 25px;
}
#fir-img {
    width: 100%;
    padding-top: 20px;
}
#sbox {
    width: 100%;
    position: absolute;
    top: 200px;
    text-align: center;
}
#word1 {
    font-size: 40px;
    color: #ffba00;
    font-weight: bold;
}
#word2 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
}
#word2 span {
    color: #00fcff;
    font-size: 30px;
}
#word3 {
    color: #ffffff;
    font-size: 20px;
    margin-left: 570px;
    position: absolute;
    z-index: 1;
}
#trap {
    width:280px;
    height:26px;
    margin-left: 550px;
	-webkit-transform:skew(40deg);
	-moz-transform:skew(40deg);
	-o-transform:skew(40deg);
	-ms-transform:skew(40deg);
	transform:skew(40deg);
	background:#ffba00;
}
#second {
    text-align: center;
    padding-top: 100px;
    height: 550px;
    margin-bottom: 50px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}
.pic {
    font-size: 30px;
    margin-bottom:150px;
}
.pic>span {
    letter-spacing: 8px;
}
#second img {
    border-right: 1px dashed #181616;
    padding-right: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
#thr {
    margin-left: 260px;
}
#con {
    margin-left: 300px;
}
#con div {
    float: left;
}
.ss {
    margin-top: 200px;
}
#fifth {
    margin-top: 500px;
    width: 1000px;
    margin: 500px auto 0 auto;
}
#mess {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
    margin-bottom: 50px;
}
#lab {
    display: block;
    text-align: left;
    margin-bottom: 50px;
}
form img {
    margin-bottom: -10px;
}
form input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    width: 240px;
    height: 30px;
}
form textarea {
    margin-top: 25px;
    margin-left:-20px;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    width: 980px;
    height: 200px;
}
#text {
    color:#adadad;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    letter-spacing: 5px;
}
#code {
    margin-left: -689px;
}
#submit {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: 20px;
    color:#ffffff;
    text-align: right;
    width: 180px;
    margin-top: 30px;
    background-color: #16c6d7;
}
form span {
    color: #ffffff;
    display: inline-block;
    margin-top: -28px;
    font-size: 20px;
    letter-spacing: 20px;
    margin-left: -50px;
}
#sixth {
    height: 400px;
    margin-top: 150px;
    background-image: url('E:/enterprise/project-try/images/homepage9.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 0.7;
}
#fiimg {
    margin-top: 100px;
    margin-right: 220px;
}
#sixth img {
    height: 65px; 
    width: 85px;
    margin-left: 250px;
}
#thr {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
    left: 200px;
}
#thr div {
    float: left;
}
.lix {
    margin-right: 45px;
}
.lixd {
    width: 240px;
    margin-top: 20px;
    float: left;
    text-align: left;
}
#seventh {
    border: 1px solid #000000;
    background-color: #000000;
    height: 30px;
}
#seventh span {
    color: #eeeeee;
    vertical-align: middle;
}
