* {
    padding: 0;
    margin: 0;
    list-style: none;
}
#main {
    width: 100%;
    min-width: 1100px;
    text-align: center;
    overflow: hidden;
}
#first {
    height: 420px;
    text-align: center;
    overflow: hidden;
}
.top-nav {
    float: left;
    margin-left: 300px;
    font-family: "黑体";
    width: 90px;
}
.top-nav span {
    display: block;
    margin: 10px auto;
}
.cli {
    margin: 25px auto;
    font-size: 20px;
}
.cli a {
    text-decoration: none;
    color: #000000;
} 
.cli span {
    padding: 10px;
    padding-left: 10px;
}
#word {
    font-size: 25px;
    margin: 0;
}
#first img {
    width: 100%;
}
#span {
    border: 1px solid #8d8d8d;
    background-color: #8d8d8d;
    opacity: 0.7;
    width: 100%;
    height: 35px;
    margin-top: -45px;
}
#span span {
    font-size: 22px;
    padding: 5px 6px;
    width: 100%;
    color: #ffffff;
}
#second {
    margin-top: 100px;
}
#pic {
    font-size: 25px;
    margin-bottom:100px;
}
.hr1 {
    width: 300px;
    margin-left: 250px;
    background-color:#d3d3d3;
    height: 2px;
}
#hr2 {
    width: 300px;
    background-color:#d3d3d3;
    height: 2px;
    margin-left: 800px;
    margin-top: -3px;
}
#img-word {
    margin: 0 auto;
    width: 850px;
    overflow: hidden;
}
#img-word li {
    float: left;
    width: 150px;
    height: 180px;
    padding: 30px 31px;
    margin-top: 30px;
}
#img-word span {
    font-size: 15px;
    display: block;
    color: #494949;
    margin-top: 10px;
}
#third { 
    margin-top: 100px;
    border: 1px solid #f5f4f4;
    background-color: #f5f4f4;
    width: 100%;
}
#pict {
    font-size: 25px;
    margin-top: 60px;
}
.hr3 {
    width: 250px;
    margin-left: 350px;
    background-color:#d3d3d3;
    height: 2px;
}
#hr4 {
    width: 250px;
    background-color:#d3d3d3;
    height: 2px;
    margin-left: 750px;
}

#six {
    width: 760px;
    margin-left: 290px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#six ul {
    width: 1000px;
    overflow: hidden;
}
#six li {
    float: left;
    width: 200px;
    margin-right: 95px;
    margin-top: 60px;
} 
.six-img {
    display: inline;
}
.six-img  img {
    height: 115px;
    width: 200px;
    position: relative;
}
.span {
    border: 1px solid #939393;
    background-color: #939393;
    height: 30px;
    width: 198px;
    font-size: 15px;
    color: #eeeeee;
    z-index: 9999;
    position: absolute;
    margin-left: -100px;
    margin-top: -35px;
    opacity: 0.7;
}
#spans {
    border: 1px solid #939393;
    background-color: #939393;
    height: 80px;
    width: 198px;
    font-size: 15px;
    color: #eeeeee;
    z-index: 9999;
    position: absolute;
    margin-left: -100px;
    margin-top: -87px;
    opacity: 0.7;
}
#spans div {
    border-top: 1px solid #04b5cc;
    border-bottom: 1px solid #04b5cc;
    color: #04b5cc;
    margin-top: 20px;
    position: absolute;
    left: 50px;
    width: 100px;
}
.word {
    width: 200px;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    color: #868686;
    text-indent: 2em;
    margin: 0;
}
#page {
    margin: 50px auto 0 auto;
}
#page span {
    display: inline-block;
    padding: 0 25px;
}
#fifth {
    height: 400px;
    margin-top: 50px;
    background-image: url('E:/enterprise/project-try/images/homepage9.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 0.7;
}
#fiimg {
    margin-top: 100px;
    margin-right: 220px;
}
#fifth img {
    height: 65px; 
    width: 85px;
    margin-left: 250px;
}
#thr {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
    left: 200px;
}
#thr div {
    float: left;
}
.lix {
    margin-right: 45px;
}
.lixd {
    width: 240px;
    margin-top: 20px;
    float: left;
    text-align: left;
}
#sixth {
    border: 1px solid #000000;
    background-color: #000000;
    height: 30px;
}
#sixth span {
    color: #eeeeee;
    font-size: 20px;
    vertical-align: super;
}